In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("resources.csv")
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,label
0,0,59,43,50,68,98,119,139,145,149,...,119,130,120,92,103,170,216,151,123,6
1,1,154,126,105,102,125,155,172,180,142,...,51,68,90,116,134,140,143,143,143,9
2,2,255,253,253,253,253,253,253,253,253,...,69,66,55,52,58,68,78,79,80,9
3,3,28,37,38,42,44,40,40,24,32,...,80,96,77,85,84,67,54,63,72,4
4,4,170,168,177,183,181,177,181,184,189,...,77,75,71,74,72,71,75,71,73,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,18,18,21,23,24,23,24,25,22,...,48,53,57,62,60,59,59,59,58,3
9996,9996,235,240,249,253,254,253,254,254,179,...,88,119,149,174,189,195,194,193,193,9
9997,9997,71,60,74,73,87,125,179,231,250,...,73,76,80,77,88,89,80,83,84,1
9998,9998,250,254,211,64,61,60,55,54,55,...,129,127,126,124,128,129,214,255,255,1
9999,9999,62,61,60,59,94,123,140,105,58,...,167,167,167,167,167,167,167,167,167,5